<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>product manager</title>
</head>
<body>
<div align="center">
    <h1>Product list</h1>
    <table border = "1">
        <thread>
            <tr>
                <th>Product name</th>
                <th>Product brand</th>
                <th>Product madeIn</th>
                <th>Product price</th>
            </tr>
        </thread>
        <tbody>
        <tr th:each="product : ${listProducts}">
            <td th:text="${product.name}"></td>
            <td th:text="$product.brand}"></td>
            <td th:text="${product.madeIn}"></td>
            <td th:text="${product.price}"></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>
